layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_space  "  "
        format_left   "{mode}"
        format_right  "{command_git_branch} {session} "
        format_space  " "

        mode_normal          "#[fg=#b15c00,bold] N "
        mode_locked          "#[fg=#ffffff,bg=#b15c00,bold] И "
        mode_pane            "#[fg=#ffffff,bg=cyan,bold] P "
        mode_tab             "#[fg=#ffffff,bg=red,bold] T "
        mode_session         "#[fg=#ffffff,bg=blue,bold] S "
        mode_tmux            "#[fg=#ffffff,bg=green,bold] X "
        mode_default_to_mode "locked"

        tab_normal   "#[fg=normal,lightgrey] {name} "
        tab_active   "#[fg=green,bold,italic] {name} "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=magenta] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"
      }
    }
  }

  tab name="edit" focus=true {
    pane
  }

  tab name="run" {
    pane
  }

  tab name="scratch" {
    pane
  }
}
