layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_space  "  "
        format_left   "{mode}"
        format_right  "{command_git_branch} {session} #[bold]{tabs}"
        format_space  ""

        mode_normal          "#[bg=limegreen,bold] N "
        mode_locked          "#[fg=normal,bold] ♦ "
        mode_pane            "#[fg=#ffffff,bg=cyan,bold] P "
        mode_tab             "#[fg=#ffffff,bg=red,bold] T "
        mode_session         "#[fg=#ffffff,bg=blue,bold] S "
        mode_tmux            "#[fg=#ffffff,bg=green,bold] X "
        mode_default_to_mode "locked"

        tab_normal   "#[fg=normal,lightgrey] {name} "
        tab_active   "#[fg=green,bold,italic] {name} "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=magenta] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=lightgrey,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "America/New_York"
      }
    }
  }

  tab name="1" focus=true {
    pane
  }

  tab name="2" {
    pane
  }

  tab name="3" {
    pane
  }

  tab name="4" {
    pane
  }
}
